@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
}

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  font-family: var(--font-sans);
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

/* Hide scrollbar for horizontal scrolling areas */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::selection {
  background-color: #bdfb54;
  color: #000000;
}
